html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -1px;
  position: relative;
}

p {
  margin: 0;
}

hr {
  border-width: 0.5px;
  margin: 0;
  color: #dadada;
}


/* NAVBAR */
nav {
  text-align: right;
  height: 270px;
  box-sizing: border-box;
  padding-right: 130px;
  padding-top: 115px;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  margin-bottom: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}


/* MAIN SECTION */
#main {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 170px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

.main-box {
  width: 80%;
  border-right: 0.5px solid #dadada;
  margin: 0;
  padding-left: 55px;
  padding-right: 55px;
  box-sizing: border-box;
}

.main-box:nth-of-type(1) {
  padding-bottom: 90px;
}

.main-box:nth-of-type(2) {
  padding-top: 50px;
  padding-bottom: 530px;
}

.main-box p {
  margin-left: 10px;
}

#contact {
  margin: 780px 0 0;
  text-align: right;
  line-height: 40px;
}

.corner-dot {
  position: absolute;
  bottom: 50px;
  right: 60px;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 200px;
  font-weight: 400;
  line-height: 1;
}
